<h1>About Me<h1>

<br>

<h2> Background </h2>
<p> I completed my Bacherlor's degree in Biology with a double-minor in Psychology and Mathematics. Currently, I am pursuing my Master's degree in Computer Science with an anticipated gradution date of May 2020. </p>

<br>

<h2> Goals & Passions </h2>
<p> Learning new programming languages is my current goal. Currently, I know SQL, PL/SQL, Java, HTML, CSS, Ruby on Rails, and JavaScript. I would love to keep adding to this list as well as building my current knowledge of these languages. Challenging myself to continue developing both personally and professionally is my passion. I enjoy fast-paced environments, where I am put outside of my comfort zone. This allows me to keep learning! </p>



