<br>
<br> 

<h1>Would you like to work together?</h1>

<br>
<br>

<h2> Home Location </h2>
<p> Edinger Avenue, Huntington Beach, California 92647 </p>


<h2> Phone </h2>
<p>Cellphone Number: 
	<%= number_to_phone "5183317377" %> </p>


<h2> Email </h2>
<p>Email: fzaman6505@gmail.com </p>



