<div class="inner cover">

	<h1 class="cover-heading">Welcome</h1>

	<p class="lead">
		Software development should not be a secret process. It is my goal to use this website to deliver a well-crafted product, while sharing my process!
	</p>

	<p class="lead">
		<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
	</p>
	
</div>


